page-login {
    .login-content {
        // background-image: url("../../assets/imgs/LogoR2.PNG");
    }

    
    .item{
 
    }
    .login-form{
    }
    
    ion-list{
    }
    ion-label{

    }
    .logoimg{
        max-width: 80%;
        margin: auto;
        display: block;

    }
        
        ion-row {
            align-items: center;
            text-align: center;
        }
        
        .login-logo {
            flex: 2;

        }

        .create-account {
            
            text-decoration: underline;
            // background-color: transparent;

        }
        .header
        {
            color: "#B21212";
        }
 
        
        .login-button {
            margin-top: 2em;
            font-size: 1.2em;
            //background-color: rgb(255, 0, 0);
            //background-color:secondary;
            // background-color: deepskyblue;
        }
 
}



 




 

 
